@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;700&display=swap');


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #282c34;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.container {
  border: 3px solid #ccc;
  border-radius: 10px;
}

.container svg {
  width: 300px;
  height: 300px;
  display: block; /* removes bottom gap/line */
}

.is-best > div {
  border-color: #b27aff;
}

.is-best > textarea {
  background-color: #6e5d86;
}